@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #1f2029;
  overflow-x: hidden;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  color: #fff;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li ul {
  display: none;
}

ul li:hover ul {
  display: block;
}

.title {
  font-size: 60px;
  color: #ffeba7;
  z-index: 2;
  font-family: "Roboto", sans-serif;
}

.subtitle {
  font-size: 30px;
  color: #ffffff;
  z-index: 2;
  font-family: "Roboto", sans-serif;
}

.title2 {
  color: #ffeba7;
  z-index: 2;
  padding-top: 20px;
  margin-left: 20px;
  left: 20%;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 40%;

  border-radius: 25px;
  background-color: rgba(105, 105, 105, 0.4);
}

.courses {
  margin-left: 10%;
}

.last {
  padding-bottom: 20px;
}

.container1 {
  width: 40%;
  left: 59%;
  top: 31.5%;
  position: absolute;
  border-radius: 25px;
  background-color: rgba(105, 105, 105, 0.4);
}

.happy {
  width: 20%;
  padding-right: 30%;
  padding-left: 12%;
}

.sad {
  width: 20%;
}

.label1 {
  position: absolute;
  top: 88%;
  left: 4%;
}

.label2 {
  position: absolute;
  top: 88%;
  left: 56%;
}
